<form action="/tasks/add" method="POST">
  <div class="form-group">
    <label for="title">Título de tarea</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Título de la tarea"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Descripción de la tarea</label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
      placeholder="Descripción de la tarea"
      required
    />
  </div>
  <button class="btn btn-success">Agregar</button>

</form>